<div class="button-page">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Cadastro de Auditorias'">
        <form #auditForm="ngForm" (submit)="save(audit);">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Título</label>
            <div class="col-sm-10">
              <input [(ngModel)]="audit.title" required name="title" #title="ngModel" type="text" class="form-control">
              <span *ngIf="title.invalid && (title.dirty || title.touched)" style='color: red'>Este campo é obrigatório.</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Unidade</label>
            <div class="col-sm-10">
              <select [(ngModel)]="audit.units_id" [disabled]="evaluations?.length" #auditUnit="ngModel" required name="auditUnit" (change)="loadEnviromentsByUnit($event.target.value)"
                class="form-control">
                <option disabled *ngIf="units?.length == 0">Nenhuma unidade cadastrada.</option>
                <option *ngFor="let unit of units" [value]="unit.id">
                  {{ unit.name }}
                </option>
              </select>
              <span *ngIf="auditUnit.invalid && (auditUnit.dirty || auditUnit.touched)" style='color: red'>Este campo é obrigatório.</span>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label class=" col-form-label">Ambientes</label>
              <ngx-datatable
              style="width: 90%;"
              class="material"
              [rows]="enviromentsList"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
              [selected]="selected"
              [messages]="message"
              [selectionType]="'checkbox'">
              <ngx-datatable-column 
                [width]="30" 
                [sortable]="false" 
                [canAutoResize]="false" 
                [draggable]="false" 
                [resizeable]="false">
                  <ng-template 
                    ngx-datatable-cell-template 
                    let-value="value" 
                    let-isSelected="isSelected" 
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <input 
                      type="checkbox" 
                      [checked]="isSelected" 
                      (change)="onCheckboxChangeFn($event)"/>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ambientes disponiveis" prop="name"></ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="form-group col-sm-6">
              <div class="col-sm-10">
                <label class=" col-form-label">Avaliador</label>
                <select [(ngModel)]="user_selected" #appraiser="ngModel" required name="appraiser" class="form-control">
                  <option *ngFor="let user of users; let i = index" [value]="i">
                    {{ user.name }}
                  </option> 
                </select>
                <span *ngIf="appraiser.invalid && (appraiser.dirty || appraiser.touched)" style='color: red'>Este campo é obrigatório.</span>
                <button style="margin-top: 10px;" class="btn btn-primary" [disabled]="selected?.length === 0 || user_selected < 0" type="button" (click)="createEvaluation()">Adicionar</button>
              

                <div class='selected-column'>
                  <h5>Avaliações <small>({{evaluations?.length}})</small></h5>
                  <table style="width:100%">
                      <tr>
                        <th>Ambiente</th>
                        <th>Avaliador</th>
                        <th></th>
                      </tr>
                      <tr *ngFor="let sel of evaluations; let i = index">
                        <td>{{sel.environment_name}}</td>
                        <td>{{sel.user_name}}</td>
                        <td>                    
                          <button class="btn btn-danger btn-icon no-margin" (click)="removeEvaluation(i)">
                            <i class="icofont icofont-trash" title="Você não pode remover uma auditoria concluida"></i>
                          </button>
                        </td>
                      </tr>
                    </table>
                    <tr *ngIf="!evaluations?.length">
                      Nenhuma Avaliação                    
                    </tr>
                  </div>
                </div>
            </div>
          </div>    

          <div class="row" style="margin-top: 30px">
            <label class="col-sm-2 col-form-label">Período</label>
            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
              <input class="form-control" bsDaterangepicker name="period" [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', locale: 'pt-br'}"
                #drp="bsDaterangepicker" [(ngModel)]="period" onkeydown="return false">
            </div>
            <div class="col-xs-12 col-12 col-md-3 form-group">
              <button type="button" class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">
                <i class='far fa-calendar-alt'></i>
              </button>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descrição <span class="optional-value">(Opcional)</span></label>
            <div class="col-sm-10">
              <textarea [(ngModel)]="audit.description" class="textarea-width-100 form-control" name="comment"></textarea>
            </div>
          </div>

          <button class="btn btn-primary pull-right no-margin-right" [disabled]="!auditForm.valid || !evaluations?.length" type="submit">Salvar</button>
        </form>
      </app-card>

      <ng-template #noAudits>
        <p class="no-content">Nenhum registro para mostrar.</p>
      </ng-template>

      <app-card [title]="'Listagem de Auditorias'">

          <ngx-datatable
          #myTable
          class="material expandable"
          [columnMode]="'force'"
          [rowHeight]="50"
          [limit]="10"
          [scrollbarV]="false"
          [rows]="audits"
          (page)="onPage($event)">
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div style="padding-left:35px">
                  <div class="table-responsive">
                      <table class="table table--clean">
                        <thead>
                          <tr>
                            <th>Ambiente</th>
                            <th>Avaliador</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let evaluate of row.evaluations">
                            <td>{{evaluate.environment_name}}</td>
                            <td>{{evaluate.user_name}}</td> 
                          </tr>
                        </tbody>
                      </table>
                    </div> 
              </div>
            </ng-template>
          </ngx-datatable-row-detail>
  
          <!-- Column Templates -->
           <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)">
              </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Auditoria" prop="title"></ngx-datatable-column>
          <ngx-datatable-column name="Unidade" prop="unit_name"></ngx-datatable-column>
          <ngx-datatable-column name="Data Inicial" prop="initial_date"> </ngx-datatable-column>
          <ngx-datatable-column name="Data Final" prop="due_date"></ngx-datatable-column>
          <ngx-datatable-column name="Descrição" prop="description"></ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <span class="inline-block">
                <button class="btn btn-info btn-icon no-margin" [disabled]="audit.status === 'CONCLUIDA'" (click)="update(row)">
                  <i class="icofont icofont-edit" title="Você não pode editar uma auditoria concluida"></i>
                </button>
              </span>
              <span class="inline-block margin-left-10">
                <button class="btn btn-danger btn-icon no-margin" [disabled]="audit.status === 'CONCLUIDA'" (click)="getModalAnswer(row.id)">
                  <i class="icofont icofont-trash" title="Você não pode remover uma auditoria concluida"></i>
                </button>
              </span>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </app-card>
    </div>
  </div>
</div>